.tile_layout {
  display: flex;
  width: 100%;
  height: 100%;
}

.tile_layout .tile, .tile_layout .column, .tile_layout .row {
  flex-grow: 1;
}

.tile_layout .column, .tile_layout .row {
  display: flex;
}

.tile_layout .column {
  flex-direction: column;
}

.tile_layout .row {
  flex-direction: row;
}
