[submodule "q-star/apache56"]
	path = q-star/apache56
	url = https://github.com/oneman/ironwail
[submodule "doc/tool"]
	path = doc/tool
	url = https://github.com/oneman/mupdf
[submodule "doc/ym-938"]
	path = doc/ym-938
	url = git@github.com:oneman/ym-938.git
[submodule "doc/sat_code"]
	path = doc/sat_code
	url = https://github.com/Bill-Gray/sat_code
